body{
	margin:0;
	background-image:url("fondo.png");
	background-size: cover;
}

#navegador{
	position:fixed;
	width:100%;
}

#navegador img{
	position:absolute;
	width:20%;
	bottom:-10%;
}

#navegador ul {
  list-style: none; 
  background-color:black;
  text-align:center;
  margin:0;
  padding:2%;
}

#navegador li {
  display: inline-block;  
  padding:1.6%;
  text-align:center;
}

#navegador .menu {
  color: white; 
  text-decoration: none; 
  font-size: 95%; 
  font-family:arial;
  padding:1.6%;
  border-radius:24%;
  background-color:#1a1a1a;

}

#navegador .menu:hover{
	background-color:#262626;
}

#foto{
	position:relative;
	top:25%;
	width:45%;
	z-index:-1;
}

#presentacion{
	position:relative;
	font-family:arial;
	bottom:20%;
	left:53%;
	color:white;
	background-color:black;
	width:40%;
	padding:2%;
	height:30%;
	text-align:center;
}

#pie{
	position:fixed;
	bottom:0;
	width:100%;
	font-family:arial;
	font-weight:bold;
	text-align:center;
	padding:0.3%;
	background-color:black;
	color:white;
}

