html body{
	margin:0;
	background-image:url("fondo.png");
	background-size: cover;
	height:100%;
}

header{
	position:relative;
	width:100%;
}

header img{
	position:absolute;
	width:15%;
	bottom:-30%;
	left:3%;
}

header ul {
  list-style: none; 
  background-color:black;
  text-align:center;
  margin:0;
  padding:2%;
}

header li {
  padding:0.5%;
  text-align:center;
  display:inline;
}

header .menu {
  color: white; 
  text-decoration: none; 
  font-size: 95%; 
  font-family:arial;
  padding:1.1%;
  border-radius:24px;
  background-color:#1a1a1a;

}

header .menu:hover{
	background-color:#262626;
}

#foto{
	position:absolute;
	top:25%;
	width:45%;
	z-index:-1;
}

#presentacion{
	position:absolute;
	font-family:arial;
	bottom:35%;
	left:53%;
	color:white;
	background-color:black;
	width:40%;
	padding:2%;
	height:20%;
	text-align:center;
	border-radius:20px;
}

#contenido{
	background-color:white;
	width:80%;
	margin: 1% auto;
	padding:2%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	font-family:verdana;
	border-radius:5px;
}

#contenido p{
	margin:2% 0;
	padding:1%;
	border-radius:5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer{
	position:fixed;
	bottom:0;
	width:100%;
	font-family:arial;
	font-weight:bold;
	text-align:center;
	padding:0.3%;
	background-color:black;
	color:white;
}

